{
  "Meta": {
    "Title": "Golang App Template",
    "Description": "This is golang app template",
    "Host": "localhost:8080",
    "Basepath": "/",
    "Version": ""
  },
  "SQL": {
    "Host": "localhost",
    "Username": "root",
    "Password": "",
    "Port": "3306",
    "Database": "dbname"
  }
}
